# Bazel output directories
bazel-*

# Bazel lock files
MODULE.bazel.lock

# Logs and temp files
*.log
*.tmp

# Build files
*.o
*.out
*.d

# System files
.DS_Store
Thumbs.db

# C++ specific
*.swp
*.swo

# Visual Studio Code settings
.vscode/
